
.banner{
   display: grid;
    grid-template-columns: 60% 40%;

}
.bannerRight{
    display: grid;
    grid-template-rows: 50% 50%;

}
.bannerRight div img{
    margin-left: 2px;
    width: 100%;
    height: 100%;
}

.bannerLeft{
    margin-left: -3px;
    margin-right: 25px;
    width: 100%;
}

.bannerLeft img{
    width: 100%;
    height: 100%;
}


