
.product-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 1600px) {
    .product-list{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: auto;
    }
}
@media screen and (max-width: 1000px) {
    .product-list{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
    }
}
@media screen and (max-width: 650px) {
    .product-list{
        display: grid;
        grid-template-columns: 100%;
        margin: auto;
    }
}

.page-list{
    display: flex;
    justify-content: center;
}

.line-divide{
    margin: 5px 0;
    border: 1px orangered solid;
}