.checkout-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.checkout-grid{
    display: grid;
    grid-template-columns: 40% 60%;
}
.checkout-card{
    padding: 5px;
}
.sub-checkout-card{
    height: 100%;
}
.checkout-info-wrapper{
    display: flex;
    flex-direction: column;
}
.checkout-field{
    margin-bottom: 10px !important;
}

#order-button-wrapper{
    display: flex;
    justify-content: flex-end;
}
#order-button{
    width: 180px;
    font-size: 20px;
}


