.cart-item-wrapper{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    width: 1000px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.cart-image{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.name-price{
    width: 100%;
    margin: 10px;
}

.cart-delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

