.cart-item-wrapper{
    display: grid;
    grid-template-columns: 25% 60% 15%;
    width: 100%;
    padding: 10px;
}
.cart-image{
    width: 90px;
    height: 90px;
    margin: 5px;
}
.name-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-count{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.price{
    display: flex;
    width: 100%;
    justify-content: center;
}
